@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");

:root {
  --header-color: #0779e4;
  --bg-color1: #cbeaed;
  --bg-color2: #e4f9ff;
}

* {
  margin: 0;
  padding: 0;
}
*::after,
*::before,
* {
  box-sizing: inherit;
}

button {
  outline: none;
  cursor: pointer;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
